html body{
    height:100%
}
body{
    display:flex;
    flex-direction:column;
}
footer.fixar-rodape {
    flex-shrink: 0;

    width: 100%;
    background-color: black;
    border-top: solid 1px white
}
.conteudo{
    flex:1 0 auto;
}
.progress {
    height: 5px;
    background-color: white;
    position: relative;
}

    .progress .progress-bar {
        position: absolute;
        height: 100%;
        background-color: orange;
        animation-name: progress-animation;
        animation-duration: 4s;
        animation-delay: 0s;
    }
.bola {
    position:relative;
    z-index:2;
    border-radius: 20px;
    height: 50px;
    width: 15px;
    border: 1px solid #000000;
    background-color: honeydew;
}

@keyframes progress-animation {
    0% {
        width: 0
    }
    15% {
        width: 15%;
        background-color: red;
        
    }
    45% {
        width: 45%;
        background-color: yellow;
    }

   65%{
        width: 65%;
        background-color: orange;
    }
}
.progress1 {
    height: 5px;
    background-color: white;
    position: relative;
}
    .progress1 .progress-bar {
        position: absolute;
        height: 100%;
        background-color: green;
        animation-name: progress-animation1;
        animation-duration: 4s;
        animation-delay: 0s;
    }


@keyframes progress-animation1 {
    0% {
        width: 0
    }

    15% {
        width: 15%;
        background-color: red;
    }

    43% {
        width: 43%;
        background-color: yellow;
    }

    65% {
        width: 65%;
        background-color: orange;
    }
    100% {
        width: 100%;
        background-color: green;
    }
}
#backurl {
   background-image: url(plus.png);
}
.tamanhoPadrao {
    min-height: 250px;
    max-height: 300px;
    border-radius: 5px;
}
.border-none{
    border:none
}
.bg-white {
    background-color: white
}
.bordarParaTest {
 
    border: dotted;
    border-color: red;
    border-width: 1px
}
.bordaBottom {
    border-bottom: 2px solid orange;
    border-radius: 7px
}
fontsmall{
    font-size:smaller
}
.alinhacentro {
    z-index: 1;
}
.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.TamanhoCep {
    width: 80%;
    margin: 0 auto;
    margin-bottom:2%;
}
.hrNav {
    border-bottom: 1px solid orange;
}

.link-cinza-laranja{
    color:rgba(0, 0 ,0 ,0.7);
    text-decoration:none;
}
    .link-cinza-laranja:hover {
        color:darkorange;
        text-decoration: none;
    }

.link-laranja-cinza {
   
    color: darkorange;
    text-decoration: none;
}

.link-laranja-cinza:hover {
    color: rgba(0, 0,0,0.7);
    text-decoration: none;
}
    /* adaptação bootstrap*/
    :root {
        --bs-teste-rgb: 0, 0, 0;
    }
.semBorda{
    border:none;
}
.bordaPoucoRedonda{
    border:solid 1px black;
    border-radius:10px;
    color : black;

}
.bordaPoucoRedonda:hover {
    border: solid 1px black;
    border-radius: 10px;
    background-color:lightgrey;
    color: black;
}
.bg-dark {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-teste-rgb), var(--bs-bg-opacity)) !important;
}

.btn-dark {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-teste-rgb), var(--bs-bg-opacity)) !important;
}

.link-primary {
    text-decoration: none;
    color: darkblue;
}
    .link-primary:hover {
        --bs-bg-opacity: 1;
        color: rgba(255,69,0,0.60);
    }

.link-dark {
    text-decoration: none;
}
    .link-dark:hover {
        --bs-bg-opacity: 1;
        color: rgba(255,69,0,0.90);
    }
.border-info {
    border-color: orange !important;
}

.btn-primary {
    margin-top: 2%;
    color: black;
   
    border-color:rgba(0,0,0,0.55) ;
    background-color: rgb(232,163,0);
    
}
    .btn-primary:hover {
        margin-top: 2%;
        background-color: rgb(240,140,9);
        color: black;
        border-color: rgba(0,0,0,0.25);
        
    }
    .btn-primary:focus + .btn-primary, .btn-primary:focus {
        color: black;
        background-color: rgb(240,140,9);
        border-color: rgba(0,0,0,0.25);
        box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.5);
    }
    .btn-check:checked + .btn-primary, .btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
        color: black;
        background-color: rgb(240,140,9);
        box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.5);
    }
    .btn-check:focus + .btn-primary, .btn-primary:focus {
        color: black;
        background-color: rgb(240,140,9);
        border-color: rgba(0,0,0,0.25);
        box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.5);
    }
    .btn-primary:disabled, .btn-primary.disabled {
        color: black;
        background-color: rgb(240,140,9);
        border-color: rgba(0,0,0,0.25);
        box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.5);
    }

.btn-outline-primary {
    margin-top: 2%;
    color: white;
    border-color: rgb(232,163,0);
}
.btn-outline-primary:hover {
        margin-top: 2%;
        background-color: rgb(240,140,9);
        color: black;
        border-color: rgba(0,0,0,0.25);
    }
.btn-outline-primary:focus + .btn-outline-primary, .btn-outline-primary:focus {
        color: black;
        background-color: rgb(240,140,9);
        border-color: rgba(0,0,0,0.25);
        box-shadow: 0 0 0 0.01rem rgba(0, 0, 0, 0.5);
    }
.btn-check:checked + .btn-outline-primary, .btn-check:active + .btn-outline-primary, .btn-outline-primary:active, .btn-outline-primary.active, .show > .btn-outline-primary.dropdown-toggle {
        color: black;
        background-color: rgb(240,140,9);
        box-shadow: 0 0 0 0.01rem rgba(0, 0, 0, 0.5);
    }
.btn-check:focus + .btn-outline-primary, .btn-outline-primary:focus {
        color: black;
        background-color: rgb(240,140,9);
        border-color: rgba(0,0,0,0.25);
        box-shadow: 0 0 0 0.01rem rgba(0, 0, 0, 0.5);
    }
.btn-outline-primary:disabled, .btn-outline-primary.disabled {
        color: black;
        background-color: rgb(240,140,9);
        border-color: rgba(0,0,0,0.25);
        box-shadow: 0 0 0 0.01rem rgba(0, 0, 0, 0.5);
    }



.btn-outline-info {
    color: orange;
    border-color: orange;
}
    .btn-outline-info:hover {
        color: black;
        border-color: orange;
        background-color: orange;
        box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.5);
    }
    .btn-outline-info:focus {
        box-shadow: 0 0 0 0.01rem rgba(0, 0, 0, 0.5);
    }
    .text-Laranja{
        --bs-text-opacity: 1;
        color: orange !important;
    }
        .text-Laranja:hover {
            --bs-text-opacity: 1;
            color: darkorange
        }

    .text-orange {
        --bs-text-opacity: 1;
        color: orange !important;
    }
    .text-orange:hover {
        --bs-text-opacity: 1;
        color: rgba(var(--bs-teste-rgb), var(--bs-bg-opacity)) !important;
    }

.form-control:focus {
    border-color: rgba(232,163,0, 0.30);
    box-shadow: 0 0 0 0.08rem rgba(232,163,0, 0.30);
}
.form-select:focus {
    border-color: rgba(232,163,0, 0.30);
    box-shadow: 0 0 0 0.08rem rgba(232,163,0, 0.30);
}

.rodape {
    background-image: linear-gradient( to bottom, black, black );
}
.teste{
    text-align:center
}
.cardConta {
    width: 23rem;
    height: 10rem;
}

   
/* adaptação bootstrap*/

.spamHome {
    color: white;
    border: solid;
    border-color:orange;
    border-width: 1px;
    margin-top: 12px;
}

body {
    background-attachment: fixed;
    background-color: black;
    background-image: linear-gradient( to bottom,transparent,rgba(79,79,79,0.100), rgba(255,140,0,0.20),rgba(255,140,0,0.30));
}

.mesmaLinha {
    display: flex;
}
.letraP {
    font-size: small;
} 
/* Pagamentos */

.cardPadrao {
    width: 90px;
    text-align: center;
    padding-top: 20px;
    color:black;

    
}

.BoxCard {
    width: 100%; 
    margin-bottom:1%
}
.BoxCardCad {
    text-align: center;
    margin: auto;
    width: 100%;
    height: 50px;
}
.imgAddCard {
    text-align: center;
    margin: auto;
    width: 110px;
    height: 50px;
}
.imgCardCad {
    text-align: center;
    margin: auto;
    width: 250px;
    
}
.addCard {
    border-radius: 10px;
    background-color: white;
    border: solid 1px;
    width: 110px;
    height: 52px
}

/* Endereço */

.PadraoEndereco{
    position:relative;
    z-index:1;
    top:-158px;
    right:35%;
    font-size:small
}
.botaoEnderecoInicio {
    width: 200px
}
.boxModalEnd {
    border: 1px solid orange; 
    background-color:rgb(254,248,242);
    border-radius:5px;
    
}
.boxEnderecoFinalizarCompra {
    border: 1px solid orange;
    background-color: rgb(254,248,242);
    border-radius: 5px;
    
}
.bot {
    width: 43%;
    position: absolute;
    bottom: 4%;
    left: 17%;
}
.spanCep {
    position: absolute;
    right: 15px;
    bottom: 4%
}
.spanBotaoEnd {
    z-index:1;  
    left: 50%;
    font-size: x-small
}
.boxEndereco {
    height: 200px;
}
.botaoCheck {
    border-color: rgba(0,0,0, 0.30);
    box-shadow: 0 0 0 0.01rem #fff;
    background-color: white
}.botaoCheck:checked {
    border-color: rgba(0,0,0, 0.30);
    box-shadow: 0 0 0 0.01rem #fff;
    background-color: black
}.botaoCheck:focus {
        border-color: rgba(0,0,0, 0.30);
        box-shadow: 0 0 0 0.01rem #fff;        
    }


.imgAddEnd {
    text-align: center;
    margin: auto;
    width: 250px;
    height: 230px;
}
.EndAddPadrao{
 
    width: 250px;
    height: 230px;
}
.EndAddNaoPadrao {
    width: 250px;
    height: 192px;
}
.distTop{
    margin-top:0.5%
}
.btnEndCompra {
    border-radius: 20px;
    border: solid;
    border-width: 1px;
}
    .btnEndCompra:hover {
        border-radius: 20px;
        border: solid;
        border-width: 1px;
        border-color: coral;
    }

.btnEnd {
    margin-top: 2%;
    width: 80%
}

/*  Login */
.bordaBottomLogin {
    border-bottom: 1px solid orange;
    border-radius: 50px
}
.bordaTerra {
    border-top: 1px solid rgba(0,0,255, .7);
    border-left: 2px solid rgba(0,0,255, .7);
    border-bottom: 1px solid rgba(0,0,255, .7);
}

.boxErroLogin {
   
    border-radius: 5px;
    margin-bottom: 2%;
    display:flex;
    background-color:white;
}
/********************************/
/* Home */

.semBordaEsquerda {
    border-radius: 0 5px 5px 0;   
}
.semBordaDireita {
    border-radius: 5px 0 0 5px;
}
    .boxCarosel {
        margin: auto 7.5% auto 7.5%;
    }

.columnHome {
    width: 24em;
    margin-left: auto;
    margin-right: auto
}
.boxConta {
    margin-top: 9%
}
/* Home fim */
/* Carrinho */


.boxCarrinho{
    background-color:white;
}
.boxValorTotal {
    margin: 1% 0 0 3%;
}
.botaoCarrinho {
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: center;
}

.bordaCar {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    text-align: center;
}
.ajustCarLat {
    margin: 10px 10px 0 10px
}


/**********************************/
/*   Produtos   */
.precoProd{
    position:relative;
    z-index:1;
    bottom:1px;
    left:13px;
    font-family:'Cambria Math';
    font-size:large;
}
.custom-popover {
    --bs-popover-max-width: 250px;
    --bs-popover-border-color: var(--bs-warning);
    --bs-popover-header-bg: var(--bs-dark);
    --bs-popover-header-color: var(--bs-white);
    --bs-popover-body-padding-x: 1rem;
    --bs-popover-body-padding-y: .5rem;
}
.ImagensPopOver {
    background-color: transparent;
    border-radius: 100px;
    border:none;
    margin:auto;
}
.DivPopOver {
    text-align: center;
    margin: auto
}


.miniImg {
    max-height:50px;
    width:auto;
    margin-left:1.3px
}
.botoesProd {
    padding-top: 97%;
    text-align: center;
}


.boximgProd {
    margin: 0 1% 0 2px;
    background-color: white;
    border-radius: 20px;
    width: 55%;
    padding: 10px 10px 10px 10px;
}

.boxDescricao {
    padding: 10px 10px 10px 10px;
    margin-right: 1%;
    background-color: white;
    border-radius: 20px;

}
.boxDescricaoDetalhada {
    padding: 10px 10px 10px 10px;
    margin: 1% 3% 0 0;
    background-color: white;
    width:100%;
    border-radius: 20px;
}
.boxValorEentrega {
    padding: 10px 10px 10px 10px;
    background-color: white;
    border-radius: 20px;
}
    .boxValorEentrega a {
        color: black;
        border-color: black;     
    }.boxValorEentrega a:hover {
        color: black;
        border-color: black;  
        background-color:gray;
    }

.boxOutrosProd {
    padding: 10px 10px 10px 10px;
    margin: 1% 3% 0 0;
    background-color: white;
    border-radius: 20px;
    width: 100%;
}
    
.boxImgProdGrande {
   
    width: 100%;
    height: 100%;
}
    

.boxImgProdPequena {
    max-width: 100%;
    max-height: 10%;
    margin-right:6%
}
    .boxImgProdPequena img {
        display: block;
        margin: 0 auto;
        width: 100%;
        border: solid;
        border-color: rgb(255, 106, 0,.60);
        border-width: 2px;
        margin: 0 0 2px 2px;
        border-radius: 10px;
    }

/**********************************/
#inputcep {
    border-radius: 5px;
}
#pcep {
    margin-right: 5px;
    margin-left: 5px;
}
#icone:hover {
    background-color: #0dcaf0;
    transition: 0.1s;
    opacity: 0.9;
    --bs-text-opacity: 1;
    color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
    height: 102%;
    width: 102%;
}

.conteiner {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
    width: 100%;
}
.ajusteModalCep {
    margin-left: auto;
    margin-right: auto;
    text-align: center
}
.ajusteModalCep {
    margin-left: auto;
    margin-right: auto;
    text-align: center
}
.adpHr {
    display: flex;
    align-items: center;
}

    .adpHr hr {
        flex: 1;
        border-color: white;
    }



.dropdown:hover > .dropdown-menu {
    display: block;
    position:absolute
}

/* ini: Preloader */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black; /* cor do background que vai ocupar o body */  
    z-index: 999; /* z-index para jogar para frente e sobrepor tudo */
}

    #preloader .inner {
        position: absolute;
        top: 50%; /* centralizar a parte interna do preload (onde fica a animação)*/
        left: 50%;
        transform: translate(-50%, -50%);
    }

@keyframes animarBola {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }

    16% {
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
        opacity: 0.7;
    }

    33% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}
/* end: Preloader */

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}
.popoverButtonEndereco{
    border:solid 1px orange
}
/* responsivo do bootstrap*/
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}
/*******************************/

.social-svg a {
    text-decoration: none;
}

svg[aria-label="Github"] {
    background: #131313;
    border-radius: 20px;
}
svg[aria-label="Twitter"] {
    background: #55acee;
    border-radius: 5px;
}
svg[aria-label="Facebook"] {
    background: #3b5998;
    border-radius: 20px;
}

.social-svg svg[role="img"] {
   
    fill: white;
}



