@model TestModel


<p id="test">@Model.Info</p>
<input id="Info" name="Info" />
<button type="button" onclick="att2()">atualizar</button>



<script type="text/javascript">

    function att2() {
        var dados = $("#formPartial2").serialize();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("PartialTest2","Home")',
            data: dados,
            success: function (data) {
                $("#formPartial2").html(data);
            }
        }).done(function () {

        }).fail(function () {

        })
    }


</script>