@model TestModel
<div class="container justify-content-center bordarParaTest bg-white d-block">
   
 
        @await Html.PartialAsync("PartialTest",Model)
 
  
    <form id="formPartial2">
        @await Html.PartialAsync("PartialTest2",Model)
    </form>

   
</div>

<script type="text/javascript">

</script>