@{
    ViewBag.title = "Transações";
}
<div class="mb-3 " style="width:70%;margin:auto;">

<nav style="--bs-breadcrumb-divider: '  ';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item "><a class="text-decoration-none text-white" asp-action="Carteira" asp-controller="Conta">Carteira</a></li>
    <li class="breadcrumb-item "><a class="text-decoration-none text-white bordaBottom" href="" >Transações</a></li>   
  </ol>
</nav>
</div>
<hr class="hrNav" />
<div class="mb-3 " style="width:70%;margin:auto;">
     <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="text-warning text-decoration-none" asp-action="SuaConta" asp-controller="Conta">Sua Conta</a></li>
        <li class="breadcrumb-item active" aria-current="page">Seus Pagamentos</li>
        <li class="breadcrumb-item active" aria-current="page">Transações</li>
      </ol>
    </nav>
    <h4 style="color:orange">Transações</h4>
    <h5 style="color:orange"> </h5>
    <div class="card text-dark bg-light mb-3" style="width: 100%;">
      <div class="card-header ">Concluído</div>
      <div class="card-body ">
            <table class="table table-striped">                      
                @foreach(var item in ViewBag.Transacoes)
              { 
                <tbody>
                <tr>
                  <td scope="row">@item.Object.Produto[0].Data</td>  
                  <td scope="row"></td> 
                </tr>
                <tr>
                  <td scope="row"><h6>@item.Object.Cartao.Bandeira ****@item.Object.Cartao.QuatroDigCard</h6>
                      <a href="#" class="text-decoration-none text-orange">Número do pedido @item.Key</a></td>
                  <td style="text-align:right;" scope="row"><h6>-R$ @item.Object.Produto[0].ValorTotal</h6></td>
                </tr>            
              </tbody>
              }
            </table>

      </div>

</div>
</div>