@model ModelLogin
@{
     ViewBag.title = "Login";
}
@Html.AntiForgeryToken()


<div class="form-signin" id="AjustaLoginTela">
    @await Html.PartialAsync("PartialLogin")
</div>
<script type="text/javascript">
    var h = document.documentElement.clientHeight * 0.005;
    document.getElementById("AjustaLoginTela").style.marginTop = h + '%';
    window.onresize = resizeLogin
    function resizeLogin() {
        var h = document.documentElement.clientHeight * 0.005;
        document.getElementById("AjustaLoginTela").style.marginTop = h + '%';
    }

</script>